<div class="container">
  <!-- Sélecteur pour le type de demandeur -->
  <div class="row mt-5 justify-content-center">
    <select
      id="typeDemandeur"
      class="form-control"
      (change)="onTypeDemandeurChange($event)"
    >
      <option value="">-- Sélectionner le type de demandeur --</option>
      <option value="physique">Personne physique</option>
      <option value="morale">Personne morale</option>
    </select>
  </div>
  <app-stepper [linearModeSelected]="false" #appStepper>
    <!-- Étape 1 : Demandeur -->
    <cdk-step label="Demandeur">
      <ng-container *ngIf="typeDemandeur === 'physique'">
        <app-demandeur
          (demandeurEvent)="etablissementDemandeurEvent($event)"
          (typeDemandeChange)="ontypeDemandeChange($event)"

        ></app-demandeur>
      </ng-container>
      <ng-container *ngIf="typeDemandeur === 'morale'">
        <app-personne-morale
          (personneMoraleEvent)="etablissementPersonneMoraleEvent($event)"
          (typeDemandeChange)="ontypeDemandeChange($event)"

        ></app-personne-morale>
      </ng-container>
    </cdk-step>

    <!-- Étape 2 : Pièces Jointes -->
    <cdk-step label="Pièces Jointes">
      <ng-container *ngIf="typeDemande === 'permiPeche'">
        <app-fichier-permis
          (permisPecheSubmitted)="permisPecheSubmitted($event)"
        ></app-fichier-permis>
      </ng-container>
      <ng-container *ngIf="typeDemande === 'licenceGuide'">
        <app-fichier-guide
          (LicenceGuideSubmitted)="guideSubmitted($event)"
        ></app-fichier-guide>
      </ng-container>
      <ng-container *ngIf="typeDemande === 'licenceCommerciale'">
        <app-fichier-commerciale
          (licenceCommercialleSubmitted)="licenceCommercialleeSubmitted($event)"
        ></app-fichier-commerciale>
      </ng-container>
      <ng-container *ngIf="typeDemande === 'agrementConcession'">
        <app-fichier-concession
          (permisConcessionSubmitted)="permisConcessionSubmitted($event)"
        >
        </app-fichier-concession>
      </ng-container>
      <ng-container *ngIf="typeDemande === 'etablissement'">
        <app-fichier
          (fichierSubmitted)="fichierSubmitted($event)"
        ></app-fichier>
      </ng-container>
      <button (click)="onSubmit()" class="btn btn-primary mt-3">
        Soumettre la Demande
      </button>
    </cdk-step>
  </app-stepper>
</div>
