<div class="row">
  <div class="col-2">
    <app-menu></app-menu>
  </div>
  <div class="col-10">
    <div *ngIf="demandes">
      <div *ngFor="let demande of demandes">
        <div class="detail-container">
          <br /><br /><br />
          <h2>Détails de la Demande</h2>

          <div class="detail-item">
            <label>Code Demande:</label>
            <span>{{ demande.codeDemande }}</span>
          </div>
          <div class="detail-item">
            <label>Statut:</label>
            <span>{{ demande.statut }}</span>
          </div>
          <div class="detail-item">
            <label>Date de Demande:</label>
            <span>{{ demande.dateDepot | date : "yyyy-MM-dd" }}</span>
          </div>

          <h3>Informations sur le Demandeur</h3>
          <div class="detail-item">
            <label>Nom:</label>
            <span>{{ demande.nom }}</span>
          </div>
          <div class="detail-item">
            <label>Date de Naissance:</label>
            <span>{{ demande.dateNaisse | date : "yyyy-MM-dd" }}</span>
          </div>

          <div class="detail-item">
            <label>Résidence:</label>
            <span>{{ demande.lieuResidence }}</span>
          </div>
          <div class="detail-item">
            <label>Genre:</label>
            <span>{{ demande.genre }}</span>
          </div>
          <div class="detail-item">
            <label>Type de Pièce:</label>
            <span>{{ demande.typePiece }}</span>
          </div>
          <div class="detail-item">
            <label>Numéro de Pièce:</label>
            <span>{{ demande.numPiece }}</span>
          </div>

          <div class="detail-item">
            <label>Téléphone 1:</label>
            <span>{{ demande.telephone1 }}</span>
          </div>
          <div class="detail-item">
            <label>Téléphone 2:</label>
            <span>{{ demande.telephone2 }}</span>
          </div>
          <div class="detail-item">
            <label>Email:</label>
            <span>{{ demande.mail }}</span>
          </div>
          <div class="detail-item">
            <label>Dénomination:</label>
            <span>{{ demande.denomination }}</span>
          </div>
          <div class="detail-item">
            <label>Dénomination:</label>
            <span>{{ demande.nomResponsable }}</span>
          </div>
          <div class="detail-item">
            <label>Num RCCM:</label>
            <span>{{ demande.ifu }}</span>
          </div>

          <div class="detail-item">
            <label>Type de Demandeur:</label>
            <span>{{ demande.typeDemande }}</span>
          </div>

          <h3>Documents Fournis</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Libellé</th>
                <th>Fichier</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let piece of demande?.pieces">
                <td>{{ piece.libelle }}</td>
                <td>
                  <a [href]="piece.fichier" target="_blank">Télécharger</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <button
              class="btn btn-success"
              type="button"
              (click)="valideDemande()"
            >
              Valider</button
            ><br /><br /><br /><br />
          </div>
          <div class="mb-3 col-md-4">
            <button
              class="btn btn-danger"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#rejectionModal"
            >
              Rejeter</button
            ><br /><br /><br /><br />
          </div>
          <!-- Modal de rejet -->
          <div
            class="modal fade"
            id="rejectionModal"
            tabindex="-1"
            aria-labelledby="rejectionModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="rejectionModalLabel">
                    Motif de Rejet
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Fermer"
                  ></button>
                </div>
                <div class="modal-body">
                  <label for="rejection-reason"
                    >Sélectionnez un Motif de Rejet:</label
                  >
                  <select
                    id="rejection-reason"
                    [(ngModel)]="selectedRejectionReason"
                    class="form-select"
                  >
                    <option value="" disabled selected>
                      Choisissez un motif...
                    </option>
                    <option
                      *ngFor="let reason of rejectionReasons"
                      [value]="reason"
                    >
                      {{ reason }}
                    </option>
                  </select>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Annuler
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="rejeteDemande()"
                    data-bs-dismiss="modal"
                  >
                    Confirmer le rejet
                  </button>
                </div>
              </div>
            </div>
          </div>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
</div>
