<div>
  <div class="info-bar py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="messagedefilant">
            <div
              data-text="Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <main class="main-content py-5">
    <div class="container">
      <div class="text-center mb-5">
        <img
          src="/assets/images/armoirie_burkina.jpg"
          alt="armoirie burkina"
          class="logo"
          height="80"
          width="80"
        />
        <h2>
          MINISTERE DE L'AGRICULTURE DES RESSOURCES ANIMALES ET HALIEUTIQUES
          (MARAH)
        </h2>
        <h3>DU BURKINA FASO</h3>
        <h3>Gestion des attributions des sites de Pèches et d'Aquacultures</h3>
      </div>

      <div class="row">
        <div class="col-md-4 text-center">
          <i class="fas fa-file-alt feature-icon mb-3"></i>
          <h4>Soumettre une Demande</h4>
          <a [routerLink]="['/demandes']" > Accéder au formulaire</a>
          <button class="btn btn-success" (click)="formulaireDemande()">
            Accéder au formulaire <i class="bi bi-arrow-right"></i>
          </button>
        </div>

        <div class="col-md-4 text-center">
          <i class="fas fa-check-circle feature-icon mb-3"></i>
          <h4>Verifier ma Demandes</h4>

          <button class="btn btn-success" (click)="verification()">
            Accedez au formulaire <i class="bi bi-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </main>
</div>
