<div class="row mt-5">
  <!-- Champ de sélection pour le type de demandeur -->
  <div class="row mb-3 justify-content-center"> <!-- Centrer le contenu horizontalement -->
    <h1 class="text-center mt-4">Demande de Licence Commerciale</h1>

    <div class="col-sm-4"> <!-- Aligner le label et le select à gauche -->
    <!--   <label for="typeDemandeur" class="col-form-label"> v</label> -->
      <select id="typeDemandeur" class="form-control" (change)="onTypeDemandeurChange($event)">
        <option value="">-- Sélectionner le type de demendeur --</option>
        <option value="physique">Personne physique</option>
        <option value="morale">Personne morale</option>
      </select>
    </div>
  </div>

  <!-- Contenu du Stepper et formulaires -->
  <div class="container">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <!-- Stepper Component -->
        <app-stepper [linearModeSelected]="false" #appStepper>
          <!-- Steps -->

          <!-- Step 1: Demandeur -->
          <cdk-step label="Demandeur">
            <!-- Afficher Demandeur en fonction du type sélectionné -->
            <ng-container *ngIf="typeDemandeur === 'physique'">
              <app-demandeur></app-demandeur> <!-- Formulaire pour Personne physique -->
            </ng-container>
            <ng-container *ngIf="typeDemandeur === 'morale'">
              <app-personne-morale></app-personne-morale> <!-- Formulaire pour Personne morale -->
            </ng-container>
          </cdk-step>

          <!-- Step 2: Fichiers -->
          <cdk-step label="Fichiers">
            <app-fichier-commerciale></app-fichier-commerciale> <!-- Formulaire pour le téléchargement de fichiers -->
          </cdk-step>
        </app-stepper>
      </div>
    </div>
  </div>
</div>
