<div class="row mt-5">
  <form [formGroup]="personneQualifierForm">
    <div class="row">
      <!-- Première colonne -->
      <div class="col col-md-6">
        <div class="mb-3 row">
          <label for="nomPrenom" class="col-sm-4 col-form-label">Nom et Prenom(s)</label>
          <div class="col-sm-8">
            <input formControlName="nomPrenom" type="email" class="form-control" id="nomPrenom">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="dateNaissance" class="col-sm-4 col-form-label">Date de Naissance</label>
          <div class="col-sm-8">
            <input formControlName="dateNaissance" type="email" class="form-control" id="dateNaissance">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="lieuNaissance" class="col-sm-4 col-form-label">Lieu de Naissance</label>
          <div class="col-sm-8">
            <input formControlName="lieuNaissance" type="email" class="form-control" id="lieuNaissance">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="genre" class="col-sm-4 col-form-label">Genre</label>
          <div class="col-sm-8">
            <input formControlName="genre" type="email" class="form-control" id="genre">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="residence" class="col-sm-4 col-form-label">Residence</label>
          <div class="col-sm-8">
            <input formControlName="residence" type="email" class="form-control" id="residence">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="typePiece" class="col-sm-4 col-form-label">Type de Pièce</label>
          <div class="col-sm-8">
            <input formControlName="typePiece" type="email" class="form-control" id="typePiece">
          </div>
        </div>
        <div class="mb-3 row">
        <label for="numPiece" class="col-sm-4 col-form-label">Num Pièce</label>
        <div class="col-sm-8">
          <input formControlName="numPiece" type="email" class="form-control" id="numIfu">
        </div>
      </div>

    </div>
    <div class="col col-md-6">
      <div class="mb-3 row">
        <label for="profession" class="col-sm-4 col-form-label">Proffession</label>
        <div class="col-sm-8">
          <input formControlName="profession" type="email" class="form-control" id="profession">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="telephone" class="col-sm-4 col-form-label">Num Telephone</label>
        <div class="col-sm-8">
          <input formControlName="telephone" type="email" class="form-control" id="telephone">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="email" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
          <input formControlName="email" type="email" class="form-control" id="email">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="numDiplome" class="col-sm-4 col-form-label">Num Diplome</label>
        <div class="col-sm-8">
          <input formControlName="numDiplome" type="email" class="form-control" id="numDiplome">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="libelleDiplome" class="col-sm-4 col-form-label">Libelle Diplome</label>
        <div class="col-sm-8">
          <input formControlName="libelleDiplome" type="email" class="form-control" id="libelleDiplome">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="lieuDiplome" class="col-sm-4 col-form-label">Lieu Diplome</label>
        <div class="col-sm-8">
          <input formControlName="lieuDiplome" type="email" class="form-control" id="lieuDiplome">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="dateDiplome" class="col-sm-4 col-form-label">Date du Diplome</label>
        <div class="col-sm-8">
          <input formControlName="dateDiplome" type="email" class="form-control" id="dateDiplome">
        </div>
      </div>

    </div>
</div>

<!-- Boutons -->
<div class="row">
  <div class="mb-3 col-md-6">
    <button class="btn btn-danger" type="button" cdkStepperPrevious><i class="bi bi-arrow-left"></i> Précédent</button>
  </div>
  <div class="mb-3 col-md-6 text-end">
    <button class="btn btn-success" type="submit" cdkStepperNext>Suivant <i class="bi bi-arrow-right"></i></button>
  </div>
</div>
</form>
</div>