<p>demande-licence works!</p>

<div class="container">
  <div class="row">
    <h2 class="text-center mt-4">Formulaire de demande de Licence</h2>
    <div class="col-md-9 mx-auto">
      <!-- Stepper Component -->
      <app-stepper [linearModeSelected]="false" #appStepper>
        <!-- Steps -->
        <cdk-step label="Demandeur">
          <app-demandeur></app-demandeur>
          <!-- Formulaire Demandeur -->
        </cdk-step>

        <cdk-step label="Fichiers">
          <app-fichier></app-fichier>
          <!-- Formulaire Fichiers -->
        </cdk-step>
      </app-stepper>
    </div>
  </div>
</div>
