<div class="row mt-5">
  <form [formGroup]="fichierForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <!-- Première colonne -->
      <div class="col col-md-6">
        <div class="mb-3 row">
          <label for="demande" class="col-sm-4 col-form-label"
            >Demande timbrée</label
          >
          <div class="col-sm-8">
            <input
              formControlName="demande"
              type="file"
              class="form-control"
              id="demande"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="cnib" class="col-sm-4 col-form-label"
            >Document d'Identité</label
          >
          <div class="col-sm-8">
            <input
              formControlName="cnib"
              type="file"
              class="form-control"
              id="cnib"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="attestationFiscale" class="col-sm-4 col-form-label"
            >Attestation Fiscale</label
          >
          <div class="col-sm-8">
            <input
              formControlName="attestationFiscale"
              type="file"
              class="form-control"
              id="attestationFiscale"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="carteProfessionnelle" class="col-sm-4 col-form-label"
            >Carte carteProfessionnelle</label
          >
          <div class="col-sm-8">
            <input
              formControlName="carteProfessionnelle"
              type="file"
              class="form-control"
              id="carteProfessionnelle"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="casierJudiciaire" class="col-sm-4 col-form-label">
            Casier Judiciaire</label
          >
          <div class="col-sm-8">
            <input
              formControlName="casierJudiciaire"
              type="file"
              class="form-control"
              id="casierJudiciaire"
            />
          </div>
        </div>
      </div>

      <div class="col col-md-6">
        <div class="mb-3 row">
          <label for="certificatMedical" class="col-sm-4 col-form-label"
            >Certificat Medical</label
          >
          <div class="col-sm-8">
            <input
              formControlName="certificatMedical"
              type="file"
              class="form-control"
              id="certificatMedical"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="photo" class="col-sm-4 col-form-label"
            >Photo d'identiter</label
          >
          <div class="col-sm-8">
            <input
              formControlName="photo"
              type="file"
              class="form-control"
              id="photo"
            />
          </div>
        </div>

        <div class="mb-3 row">
          <label for="quittances" class="col-sm-4 col-form-label"
            >Quittances de versement</label
          >
          <div class="col-sm-8">
            <input
              formControlName="quittances"
              type="file"
              class="form-control"
              id="quittances"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Boutons -->
    <div class="row">
      <div class="mb-3 col-md-6">
        <button class="btn btn-danger" type="button" cdkStepperPrevious>
          <i class="bi bi-arrow-left"></i> Précédent
        </button>
      </div>
      <div class="mb-3 col-md-6 text-end">
        <button
          class="btn btn-success"
          type="submit"
          (click)="onSubmit()"
          [disabled]="fichierForm.invalid"
          cdkStepperPrevious
        >
          Sauvegarder <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
  </form>
</div>
