
<div class="container">
  <div class="row">
    <h2 class="text-center mt-4">
      Demande d'une Licence de Guide
    </h2>
    <div class="col-md-9 mx-auto">
      <!-- Stepper Component -->
      <app-stepper [linearModeSelected]="false" #appStepper>
        <!-- Steps -->
        <cdk-step label="Demandeur">
          <app-demandeur></app-demandeur>
          <!-- Formulaire Demandeur -->
        </cdk-step>
        <cdk-step label="Fichiers">
          <app-fichier-guide></app-fichier-guide>
          <!-- Formulaire Fichiers -->
        </cdk-step>
      </app-stepper>
    </div>
  </div>
</div>


