<div class="row mt-5">
  <form [formGroup]="personneMoraleForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <!-- Première colonne -->
      <div class="col col-md-6">
        <div class="mb-3 row">
          <label for="typeDemande" class="col-sm-4 col-form-label"
            >Type de Demande</label
          >
          <div class="col-sm-8">
            <select
              formControlName="typeDemande"
              class="form-control"
              id="typeDemande"
            >
              <option value="">Sélectionner le type de fichier</option>
              <option value="licenceGuide">Licence Guide</option>
              <option value="etablissement">Établissement</option>
              <option value="permiPeche">Permis de Pêche</option>
              <option value="licenceCommerciale">Licence Commerciale</option>
              <option value="agrementConcession">
                Agréments et Concessions
              </option>
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="ifu" class="col-sm-4 col-form-label">N° IFU </label>
          <div class="col-sm-8">
            <input
              formControlName="ifu"
              type="text"
              class="form-control"
              id="ifu"
              placeholder=" Association: Entrer le Recepissé"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="denomination" class="col-sm-4 col-form-label"
            >Denomination
          </label>
          <div class="col-sm-8">
            <input
              formControlName="denomination"
              type="text"
              class="form-control"
              id="denomination"
              placeholder=" Nom de la structure"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="nomResponsable" class="col-sm-4 col-form-label">
            Responsable</label
          >
          <div class="col-sm-8">
            <input
              formControlName="nomResponsable"
              type="text"
              class="form-control"
              id="nomResponsable"
              placeholder=" Nom et  Prenom du Responsable"
            />
          </div>
        </div>

        <div class="mb-3 row">
          <label for="siege" class="col-sm-4 col-form-label"
            >Siège Socialle
          </label>
          <div class="col-sm-8">
            <input
              formControlName="siege"
              type="text"
              class="form-control"
              id="siege"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="mail" class="col-sm-4 col-form-label">Email</label>
          <div class="col-sm-8">
            <input
              formControlName="mail"
              type="email"
              class="form-control"
              id="mail"
            />
          </div>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="mb-3 row">
          <label for="telephone1" class="col-sm-4 col-form-label"
            >Téléphone 1</label
          >
          <div class="col-sm-8">
            <input
              formControlName="telephone1"
              type="text"
              class="form-control"
              id="telephone1"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="telephone2" class="col-sm-4 col-form-label"
            >Téléphone 1</label
          >
          <div class="col-sm-8">
            <input
              formControlName="telephone2"
              type="text"
              class="form-control"
              id="telephone2"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Boutons -->
    <div class="row">
      <div class="mb-3 col-md-6"></div>
      <div class="mb-3 col-md-6 text-end">
        <button
          class="btn btn-success"
          type="button"
          (click)="onSubmit()"
          [disabled]="personneMoraleForm.invalid"
          cdkStepperNext
        >
          Suivant <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
  </form>
</div>
<!-- Message de succès si le formulaire est valide -->
<div *ngIf="formValide" class="alert alert-success mt-3">Formulaire Valide</div>
